@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=PT+Sans&display=swap');

.Banner{
    background-image: url(./banner2.jpg);
}
.Banner-Content{
    height: 486px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
    justify-content: space-around;
}
.tagline{
    display: flex;
    flex-direction: column;
    height: 40%;
    justify-content: center;
    text-align: center;
}
.tagline-typo{
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 15px;
    text-align: center;
}